/* start Container */

/* Small Screen */
@media (min-width:768px) {
    .container{
        width: 750px;
        text-align: center;
    }
}

/* Medium Screen */
@media (min-width:992px) {
    .container{
        width: 970px;
        text-align: center;
    }
}

/* Large Screen */
@media (min-width:1200px) {
    .container{
        width: 1170px;
        text-align: center;
    }
}
/* End Container */